footer {
  background-color: var(--crystal);
}

.footer {
  padding-top: 30px;
  padding-bottom: 50px;

  .social-list {
    justify-content: center;

    .social-list__item:not(.social-list__item:last-child) {
      margin-right: 30px;
    }
  }
}

.footer__list-wrapper {
  margin-bottom: 30px;
}

.footer__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.footer__list-link {
  display: block;
  text-align: center;

  &--top {
    text-transform: uppercase;
    font-weight: 600;
    color: var(--fuchsia);
  }
}

.footer__intro-wrapper {
  margin-bottom: 30px;
}

.footer__title {
  margin-top: 0;
  text-align: center;
  text-transform: uppercase;
}

.footer__text {
  text-align: center;
  margin-bottom: 25px;
}

.footer__sub-list {
  display: none;
}

.footer__social-button-wrapper {
  display: flex;
  justify-content: center;
}

@media (min-width: $desktop) {

  .footer {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    padding-top: 60px;

    .social-list {
      justify-content: start;

      .social-list__item:not(.social-list__item:last-child) {
        margin-right: 10px;
      }
    }
  }

  .footer__title {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
    text-align: left;
    text-transform: unset;
  }

  .footer__text {
    margin-bottom: 35px;
    width: 60%;
    text-align: left;
    color: var(--grey);
    font-size: 14px;
  }

  .footer__social-button-wrapper {
    justify-content: end;
    align-items: start;
  }

  .footer__list-link {
    text-align: left;

    &--top {
      margin-bottom: 20px;
      font-size: 18px;
      color: rgba(54, 57, 64, 1);
      text-transform: unset;
    }

    &--sub {
      margin-bottom: 10px;
      font-size: 14px;
      color: var(--grey);
    }
  }

  .footer__sub-list {
    display: block;
  }
}
