.intro {
	background: linear-gradient(to top, var(--crystal) 450px, var(--white) 450px);
}

.intro__title {
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  width: 255px;
  font-size: 28px;
  line-height: 32px;
  text-align: center;
  font-weight: 900;
}

.intro__text {
  width: 255px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  text-align: center;
}

.intro__social-wrapper {
  display: none;
}

.intro__info-buttons-wrapper {
  width: $phone;
  padding-left: $phone-padding;
  padding-right: $phone-padding;
  margin-left: auto;
  margin-right: auto;
}

.intro__info-button {
  width: 100%;
  font-size: 16px;

  &:first-child {
    margin-bottom: 20px;
  }
}

.intro__info-wrapper {
  margin-bottom: 50px;
}

.intro__carousel-wrapper {
  padding-top: 20px;
  padding-bottom: 50px;
  background-color: var(--crystal);
}

.intro__carousel-list {
  position: relative;
  min-height: 320px;
}

.intro__carousel-item {
  position: absolute;
  top: 0;
  left: 50%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  min-height: 320px;
  padding-left: $phone-padding;
  padding-right: $phone-padding;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transform: translatex(-50%);

  &--family {
    background-image: url('../img/family.png');
  }
}

.intro__carousel-button {
  flex-shrink: 0;
  width: 49%;
  margin-bottom: -20px;
  padding: 10px;
  font-size: 14px;

  svg {
    margin-right: 10px;
  }
}

@media (max-width: $phone-max) {

  .intro {
    padding-top: 121px;
  }

  .intro__wrapper {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: $tablet) {


  .intro {
    padding-top: 81px;
    background: linear-gradient(to right, var(--white) 50%, var(--crystal) 50%);
  }

  .intro__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: $tablet;
    padding-right: 0;
  }

  .intro__info-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    padding-top: 50px;
  }

  .intro__title {
    width: 80%;
    margin-left: 0;
    margin-right: 0;
    text-align: left;
    font-size: 36px;
    line-height: 40px;
  }

  .intro__text {
		width: 300px;
    text-align: left;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 40px;
  }

  .intro__info-buttons-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0;
    padding-right: 0;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 30px;
  }

	.intro__social-wrapper {
		display: flex;
	}

  .intro__social-button {
    padding-right: 15px;
    margin-right: 15px;
    border-right: 1px solid #CCCCCC;
  }

  .intro__info-button {
    width: fit-content;
    padding: 13px 22px;
    font-size: 12px;
    line-height: 16px;

    &:first-child {
      margin-bottom: 0;
    }
  }

  .intro__carousel-wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 0;
    padding-bottom: 0;
  }

  .intro__carousel-list {
    height: 100%;
  }

  .intro__carousel-item {
    height: 100%;
    padding-left: 0;
    padding-right: $tablet-padding;
  }

  .intro__carousel-button {
    margin-bottom: -30px;
    width: 49%;
    padding: 15px;
    box-shadow: rgba(99, 99, 99, 0.5) 0 2px 8px 0;
  }

  .intro__carousel-bullets {
    margin-right: $tablet-padding;
  }
}

@media (min-width: $tablet-pro) {
  .intro__title {
    font-size: 50px;
    line-height: 54px;
  }

  .intro__text {
    width: 400px;
  }
}

@media (min-width: $desktop) {

  .intro {
    top: 0;
    padding-top: 0;
  }

  .intro__info-wrapper {
    padding-top: 110px;
  }

  .intro__info-buttons-wrapper {
    margin-bottom: 135px;
  }

  .intro__title {
    font-size: 63px;
    line-height: 68px;
  }

  .intro__carousel-wrapper {
    position: relative;
  }

  .intro__carousel-item {
    transform: scale(1.3);
    height: 500px;
    width: 675px;
    top: 90px;
    left: -65px;
  }

  .intro__carousel-button {
    position: absolute;
    width: fit-content;
    padding: 10px 20px;

    &:first-child {
      top: 40px;
      left: 60px;
    }

    &:last-child {
      top: 115px;
      right: 60px;
    }
  }

  .intro__carousel-bullets {
    position: absolute;
    z-index: 1;
    top: 300px;
    right: -30px;
    margin-right: 0;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
  }

  .intro__carousel-bullet {
    width: 30px;
    height: 30px;
  }
}
