.review {
  padding-top: 75px;
}

.review__wrapper {


  &--first {
    padding: 5px;
    margin-bottom: 20px;

    picture {
      padding: 10px;
      box-shadow: rgb(50 50 93 / 25%) 0 2px 5px -1px, rgb(0 0 0 / 30%) 0 1px 3px -1px;
    }
  }
}

.review__title {
  margin-bottom: 15px;
  text-transform: uppercase;

  &--tablet {
    display: none;
  }
}

.review__text {
  margin-top: 0;
  margin-bottom: 15px;
  color: rgba(103, 103, 103, 1);
  text-align: center;
}

.review__link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--fuchsia);

  span {
    margin-right: 15px;
  }
}

@media (min-width: $tablet) {

  .review {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .review__wrapper {

    &--two {
			padding-top: 10px;
      padding-left: 20px;
    }
  }

  .review__title {
    font-size: 30px;
    line-height: 34px;

    &--mobile {
      display: none;
    }

    &--tablet {
      display: block;
    }
  }

  .review__text {
    margin-bottom: 10px;
    text-align: left;
    font-size: 14px;
    line-height: 23px;
  }

  .review__link {
    justify-content: start;
		font-size: 15px;
		line-height: 26px;
		margin-left: 0;
		margin-right: 0;
	}
}

@media (min-width: $tablet-pro) {

	.review__wrapper {

    &--two {
			padding-top: 45px;
      padding-left: 30px;
    }
  }

  .review__title {
    font-size: 32px;
    line-height: 38px;
    text-align: left;
  }

	.review__text {
		margin-bottom: 25px;
		font-size: 16px;
		line-height: 29px;
		text-align: left;
	}
}

@media (min-width: $desktop) {

  .review__title {
    text-align: left;
  }

  .review__wrapper {

    &--two {
			padding-top: 125px;
    }
  }

  .review__link {
    font-size: 19px;
  }
}
