// colors
:root {
  --white: #ffffff;
  --black: #000000;
  --crystal: #ffeaf5;
  --fuchsia: #ed017f;
  --flamingo: #F467B2;
}

// sizes
$phone: 320px;
$phone-max: 767px;
$tablet: 768px;
$tablet-pro: 1024px;
$tablet-max: 1249px;
$desktop: 1250px;

$phone-padding: 15px;
$tablet-padding: 30px;
$desktop-padding: 40px;

/* retina */
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
